# Commons
.DS_Store
~*
*~
*.bk
*.tmp
*.log
*.swp
tmp/

# Java
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Intellij project ignores
.idea/
*.iml
*.ipr
*.iws
